<div class="col-xs-10 col-xs-offset-1">
  <h1>About Splurty</h1>

  <p>
  Splurty was build by Mason Lantay, a web developer passionate about bringing people together through technology in meaningful ways.
  </p>
</div>